/*------------acerca de------------------------*/
#formulario{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: left
}

#mapa{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

.enviar{
	padding: 10px 20px;
	background: #006699;
	color: #fdfdfd;
	font-size: 16px;
}

#form{}

#datos{
	margin-top: 30px;
}

/*galeria*/
#tit_galeria{
	font-family: monospace;
}

.tit_galeria{
	font-size: 50px;
	font-family: monospace;
}

#tb_galeria{
 	width: 100%;
}

h2{	
	font-family: monospace;
}

td{
	text-align: center;
}
tr{
	text-align: center;
}
